$color-white: #ffffff;
$color-black: #232323;

$color-white-off: #f9f5fe;

$color-gainsboro: rgba(#e2e2e2, 0.4);
$color-gray-light: #969696;
$color-gray-dark: #333333;
$color-gray-placeholder: #636363;
$color-gray-input-label: #595a5b;

$color-purple: #300868;
$color-violet: #6a0d83;
$color-red: #db2450;
$color-green: #32B515;
$color-blue: #1262e0;
$color-yellow: #ffbe0b;

$color-border: #ebe7f0;

$color-yellow-disabled: rgba($color-yellow, 0.5);

$color-divider: #eae6ef;
$color-overlay: rgba($color-black, 0.7);

$box-shadow-search: 0 10px 14px 0 rgba(51, 51, 51, 0.4);
$box-shadow-faq: 0 2px 8px 0 rgba(51, 51, 51, 0.1);
$box-shadow-button: 0 2px 0 0 rgba(51, 51, 51, 0.1);
$box-shadow-pin: 0 2px 0 0 rgba($color-purple, 0.5);
$box-shadow-input: inset 0 2px 2px 0 rgba(51, 51, 51, 0.2);

.bgWhite {
  position: relative;
  background-color: $color-white;
}
