$font-size-reset-rem: 62.5%;

$font-helvetica: Helvetica, arial, serif;
$font-pacifico: Pacifico, Helvetica, arial, serif;
$font-arvo: Arvo, arial, serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-h1: 3.2rem;
$font-size-h2: 2.4rem;
$font-size-h3: 1.8rem;
$font-size-p: 1.6rem;

$font-size-balloon-small: 2.4rem;
$font-size-balloon-medium: 3rem;
$font-size-balloon-large: 3.6rem;
$font-size-circle: 1.2rem;
$font-size-footer: 1.4rem;

$line-height-h4: 2.8rem;
$line-height-p: 2.6rem;
