blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

:focus {
  outline: none;
}

button {
  border: 0;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:active {
    color: currentColor;
  }
}

form {
  margin-block-end: 0;
}

input {
  border: none;

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  font-size: $font-size-reset-rem;
}

body {
  background-color: $color-white-off;
  color: $color-gray-dark;
  font-family: $font-helvetica;
  font-weight: $font-weight-normal;
  font-size: $font-size-p;
  line-height: $line-height-p;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
