.center {
  display: block;
  text-align: center;
}

.alignVertical {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.alignVerticalWithButton {
  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: auto 30rem;
    justify-items: end;

    .alignVertical {
      justify-content: flex-end;
    }

    .price {
      margin-left: 1rem;
    }
  }
}
