.pt-lg {
  padding-top: 3.5rem;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 7rem;
  }
}

.pb-lg {
  padding-bottom: 3.5rem;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 7rem;
  }
}

.mt-xt {
  margin-top: 1rem;
}

.mt-ty {
  margin-top: 2rem;
}

.mt-sm {
  margin-top: 3rem;
}

.mt-md {
  margin-top: 5rem;
}
