.calendar {
  border-radius: 1rem;
  border: 1px solid $color-border;
  box-shadow: $box-shadow-button;
  color: $color-purple;
  overflow: hidden;

  .year {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 5rem;
    font-weight: $font-weight-bold;
    border-bottom: 1px solid $color-border;
    grid-template-columns: 5rem auto 5rem;

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: 5rem auto auto 5rem;
    }

    .month,
    .prev,
    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .month {
      color: $color-purple;
      background: $color-yellow-disabled;

      &.hide {
        display: none;

        @media (min-width: $breakpoint-tablet) {
          display: flex;
        }
      }
    }

    .prev,
    .next {
      @extend %buttonColorPurple;
    }

    .prev {
      transform: rotate(180deg);
    }
  }

  .weeks {
    > div {
      padding: 1.5rem 0;
    }

    .hide {
      display: none;
    }

    @media (min-width: $breakpoint-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .hide {
        display: block;
        border-right: 2px solid $color-border;
      }
    }
  }

  .week,
  .days {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
  }

  .week {
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      width: 5rem;
      font-weight: $font-weight-bold;
    }
  }

  .days {
    .day-disabled {
      color: $color-gray-light;
    }

    .day-disabled,
    .day {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 5rem;
      width: 5rem;
      line-height: 1;
    }

    .day {
      cursor: pointer;
      color: $color-purple;

      > i {
        font-style: normal;
        font-size: $font-size-circle;
        opacity: 0.7;

        &.discount {
          color: $color-red;
          font-weight: $font-weight-bold;
          opacity: 1;
        }
      }

      &:hover,
      &.selected {
        border-radius: 0.5rem;
        color: $color-white;
        font-weight: $font-weight-bold;
        background-color: $color-blue;

        > i {
          color: $color-white;
          opacity: 1;
        }
      }
    }
  }
}
