.destinations {
  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .destination {
    height: 8rem;
    border-bottom: 1px solid $color-divider;
    background-color: $color-white;

    @media (min-width: $breakpoint-tablet) {
      height: 7.2rem;
      margin-bottom: -1px;
      border: 1px solid $color-divider;

      &:first-child,
      &:nth-child(2) {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      &:last-child,
      &:nth-last-child(2) {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
  }

  .link {
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr 2rem;

    &:hover {
      background-color: $color-white-off;
    }

    @media (min-width: $breakpoint-tablet) {
      padding: 0 1.5rem;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .city {
      font-size: $font-size-h3;
      font-weight: $font-weight-bold;
      color: $color-purple;
    }

    .number {
      font-size: $font-size-footer;
      color: $color-gray-light;
      line-height: 1;
    }

    .price {
      justify-self: right;

      @media (min-width: $breakpoint-tablet) {
        justify-self: center;
      }
    }

    .chevron {
      width: 1.2rem;
      height: 1.2rem;
      color: $color-red;
      justify-self: right;
    }
  }
}
