.faq {
  display: grid;
  grid-gap: 2rem;
  padding: 2.2rem 1.5rem 1rem;
  border-radius: 1rem;
  background-color: $color-white;
  box-shadow: $box-shadow-faq;

  li {
    cursor: pointer;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-divider;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .question {
    display: grid;
    grid-template-columns: auto 1.4rem;
    grid-gap: 1rem;
    padding-bottom: 1rem;
    color: $color-blue;
    font-weight: $font-weight-bold;
  }

  .chevron {
    position: relative;
    top: 0.5rem;
    fill: $color-blue;
    width: 1.4rem;
    height: 1.4rem;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
  }

  .answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }

  .visible {
    .chevron {
      transform: rotate(270deg);
    }

    .answer {
      height: auto;
      max-height: 60rem;

      @media (min-width: $breakpoint-tablet) {
        max-height: 30rem;
      }
    }
  }
}
