.footer {
  max-width: 50rem;
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;

  .links {
    font-size: $font-size-footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .copyright {
    font-size: $font-size-footer;
    color: $color-gray-light;
    text-align: center;
  }
}
