.headerGridMedium,
.headerGridLarge {
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: auto 11rem;

  .gridTitle {
    justify-self: start;
  }

  .gridAccount {
    justify-self: end;
  }

  .gridSearch {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.headerGridMedium {
  grid-template-rows: $header-small-phone auto;

  @media (min-width: $breakpoint-tablet) {
    position: relative;
    grid-template-columns: 35rem auto 15rem;
    grid-template-rows: $header-small-tablet;

    .gridAccount {
      grid-column-start: 3;
    }

    .gridSearch {
      width: 100%;
      grid-row-start: 1;
      grid-column-start: 2;
      align-self: start;
      justify-self: center;
      position: absolute;
      top: 25%;
    }
  }
}

.headerGridLarge {
  grid-template-rows: 12rem auto;
  grid-row-gap: 4rem;

  @media (min-width: $breakpoint-tablet) {
    grid-row-gap: 7rem;
  }
}
