$background-gradient: linear-gradient(159deg, #8338ec 0%, #c70039 100%);

$header-larger: 42rem;

$header-medium-phone: 15.5rem;
$header-medium-tablet: 11.3rem;

$header-small-phone: 7rem;
$header-small-tablet: 11.3rem;

.header {
  position: relative;
  width: 100vw;

  &.small {
    display: grid;
    align-items: center;
    background-image: $background-gradient;
    height: $header-small-phone;

    @media (min-width: $breakpoint-tablet) {
      height: $header-small-tablet;
    }
  }

  &.medium {
    background-image: $background-gradient;
    height: $header-medium-phone;

    @media (min-width: $breakpoint-tablet) {
      height: $header-medium-tablet;
    }
  }

  &.large {
    height: $header-larger;
    background-size: cover;
    background-position: center 75%;
    background-image: url("/images/background.png");

    & > * {
      z-index: 2;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.95;
      background-image: $background-gradient;
      mask-image: linear-gradient(180deg, #000000 20%, rgba(0, 0, 0, 0) 100%);
    }
  }
}
