.mapPinCity {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 1.8rem;
  border-radius: 1rem;
  background-color: $color-yellow;

  &::before,
  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    box-shadow: $box-shadow-pin;
  }

  &::after {
    content: "";
    z-index: -1;
    left: 50%;
    bottom: -1.2rem;
    transform: rotate(45deg) translateX(-50%);
    background-color: $color-yellow;
    height: 2rem;
    width: 2rem;
    border-radius: 0.1rem;
  }

  &::before {
    z-index: -1;
    border-radius: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .text {
    font-weight: $font-weight-bold;
    padding-right: 1rem;
  }

  .chevron {
    width: 1rem;
    height: 1rem;
  }
}
