.mapSmall {
  display: block;
  position: relative;
  height: 11rem;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  background: no-repeat url("/images/mapSmall.png");
  background-size: cover;

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 22rem;
  }

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.mapBig {
  position: relative;

  .mapBigBackground {
    display: none;
  }

  @media (min-width: $breakpoint-tablet) {
    .mapBigBackground {
      display: block;
      position: relative;
      height: 55rem;
      width: 100%;
      overflow: hidden;
      border-radius: 1rem;
      background: no-repeat url("/images/mapBig.png");
      background-size: cover;
    }

    .destinations {
      position: absolute;
      top: 2rem;
      left: 2rem;
      display: block;
      box-shadow: $box-shadow-faq;
    }

    .destination {
      &:nth-child(2) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:nth-last-child(2) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .link {
      grid-template-columns: 2fr 1fr 2rem;
    }
  }
}
