.numberOfTickets {
  overflow: hidden;
  height: 5rem;
  width: auto;
  max-width: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  justify-items: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid $color-border;
  box-shadow: $box-shadow-button;

  .minus,
  .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-h2;
    width: 100%;
    height: 100%;
    font-weight: $font-weight-bold;
    @extend %buttonColorPurple;
  }

  .input {
    font-weight: $font-weight-bold;
    text-align: center;
    width: 100%;
  }
}
