.overlay {
  position: fixed;
  width: 0;
  height: 0;
  top: -999999;
  left: -999999;
  z-index: -1;
  background-color: $color-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 1;
  }
}

.closeOverlay {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-h2;
  width: $font-size-p * 2;
  height: $font-size-p * 2;
  border-radius: 50%;
  color: $color-blue;
  background-color: $color-white;
  box-shadow: $box-shadow-pin;
}
