.popupExtra {
  position: relative;
  z-index: 1;
  height: auto;
  width: 90vw;
  max-width: 37rem;

  .popupImage {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 100%;
    height: 11rem;
    background-size: cover;
    background-position: center 50%;
  }

  .popupContainer {
    background-color: $color-white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
    padding: 2rem;
  }

  .button {
    max-width: 13rem;
  }
}
