.popupMap {
  position: relative;
  z-index: 1;
  height: 85vh;
  width: 90vw;
  max-width: 100rem;
  border-radius: 1rem;
  background: no-repeat url("/images/mapBig.png");
  background-size: cover;
}
