$search-max-width: 63rem;

.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .search {
    width: 100%;
    max-width: $search-max-width;
    border-radius: 1rem;
    background-color: $color-white;
    display: grid;
    grid-template-columns: 3.3rem auto 5rem;
    align-items: center;
    height: 5.5rem;

    @media (min-width: $breakpoint-tablet) {
      &.big {
        grid-template-columns: 3.3rem auto 10rem;
      }
    }

    .pin {
      position: relative;
      top: -0.2rem;
      margin-left: 1rem;
      height: 2rem;
    }

    .input {
      padding-right: 1rem;
      font-size: $font-size-h3;
    }

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0;

      span {
        display: none;
      }

      .chevron {
        margin-left: 0;
        width: 1.5rem;
        height: 1.5rem;
      }

      @media (min-width: $breakpoint-tablet) {
        span {
          display: inline;
          font-size: $font-size-h2;
        }

        .chevron {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
