.searchSuggestions {
  z-index: 1;
  width: 100%;
  max-width: $search-max-width;
  margin-top: 0.2rem;
  padding: 0;
  border-radius: 1rem;
  color: $color-purple;
  background-color: $color-white;
  box-shadow: $box-shadow-search;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;

  &.visible {
    height: auto;
    max-height: 60rem;
    padding: 0 2rem 2rem;
  }

  .intro {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    height: 5rem;
  }

  .suggestion {
    &:nth-child(odd) {
      background-color: $color-gainsboro;
    }

    .link {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      height: 5rem;

      &:hover {
        background-color: $color-white-off;
      }
    }
  }
}
