.usps {
  display: grid;
  grid-gap: 3rem;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.usp {
  display: grid;
  grid-template-columns: 5rem auto;
  grid-gap: 1.8rem;
  align-items: center;

  @media (min-width: $breakpoint-tablet) {
    grid-gap: 1rem;
    grid-template-columns: none;
    justify-content: center;
  }

  .icon {
    position: relative;
    justify-self: center;
    width: 5rem;
    height: 5rem;

    @media (min-width: $breakpoint-tablet) {
      width: 6.5rem;
      height: 6.5rem;
    }

    img {
      width: 100%;
      height: 100%;
    }

    i {
      position: absolute;
      top: 0;
      left: -$font-size-circle / 2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-size-circle;
      font-style: normal;
      font-weight: $font-weight-bold;
      width: $font-size-circle * 2;
      height: $font-size-circle * 2;
      border-radius: 50%;
      color: $color-white;
      background-color: $color-red;
    }
  }
}
