%buttonColorPurple {
  color: $color-purple;
  background-color: $color-yellow;

  &:hover {
    color: $color-yellow;
    background-color: $color-purple;
  }

  &:disabled {
    color: $color-purple;
    background-color: $color-yellow-disabled;
  }

  .chevron {
    width: 1.5rem;
    height: 1.5rem;
  }
}

%buttonColorBlue {
  color: $color-blue;
  background-color: $color-white;

  &:hover {
    color: $color-white;
    background-color: $color-blue;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  height: 5.5rem;
  width: 100%;
  padding: 0 3rem;
  font-size: $font-size-h3;
  font-weight: $font-weight-bold;
  box-shadow: $box-shadow-button;

  &.small {
    width: auto;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: 28.5rem;
  }

  &.purple {
    @extend %buttonColorPurple;

    .chevron {
      margin-left: 1rem;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &.blue {
    @extend %buttonColorBlue;
  }
}
