.checkbox {
  cursor: pointer;
  display: block;
  font-size: $font-size-p;
  color: $color-gray-dark;
  text-align: left;

  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
}

.checkboxes {
  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
