.input {
  font-size: $font-size-p;
  color: $color-purple;

  &::placeholder {
    color: $color-gray-placeholder;
  }
}

.inputText {
  display: block;
  color: $color-gray-input-label;
  font-size: $font-size-footer;

  input[type="password"],
  input[type="text"] {
    display: block;
    background: $color-white;
    border: 1px solid $color-border;
    box-shadow: $box-shadow-input;
    border-radius: 0.4rem;
    height: 4.4rem;
    width: 100%;
    max-width: 42rem;
    padding: 0 1rem;
  }

  &.error {
    input[type="password"],
    input[type="text"] {
      border-color: $color-red;
      box-shadow: none;
    }
  }

  i {
    display: block;
    font-size: $font-size-footer;
  }

  i + i {
    line-height: 1;
  }

  .errorLabel {
    color: $color-red;
    font-style: italic;
  }

  .svgContainer {
    position: relative;
    width: 100%;
    max-width: 42rem;

    .svg {
      position: absolute;
      top: -2.9rem;
      right: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    .checkmark {
      color: $color-green;
    }
    .cross {
      color: $color-red;
      transform: rotate(45deg);
    }
  }
}
