.lnk {
  color: $color-blue;
  text-decoration: none;

  &.underline,
  &:hover {
    text-decoration: underline;
  }

  &.back {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;

    .chevron {
      transform: rotate(180deg);
      margin-right: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
  }
}

.infoLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  font-family: $font-arvo;
  font-weight: $font-weight-bold;
  font-size: 1.2rem;
  color: $color-white;
  background-color: $color-blue;
  transition: transform 0.3s ease-in-out;
  vertical-align: top;
  margin-top: 0.4rem;
  margin-left: 0.4rem;

  &:hover {
    transform: scale(1.2);
  }
}
