.price {
  font-weight: $font-weight-bold;
  color: $color-red;

  &.medium {
    font-size: 1.6rem;
    display: flex;
    align-items: center;

    .chevron {
      margin-left: 0.5rem;
      width: 1rem;
      height: 1rem;
      color: $color-red;
    }
  }

  &.large {
    font-size: 2rem;
  }
}
