.radio {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $color-purple;
  font-weight: $font-weight-bold;

  input[type="radio"] {
    margin-right: 0.75rem;
  }

  img {
    height: 2.5rem;
    padding: 0 1rem;
  }
}

.radios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 1rem;
  border: 1px solid $color-border;
  box-shadow: $box-shadow-button;
  height: 5rem;
  max-width: 42rem;

  .radio {
    height: 100%;
    border-left: 1px solid $color-border;
    justify-content: center;

    &:hover {
      background-color: $color-white-off;
    }

    &:first-child {
      border-left: none;
    }
  }
}
