.select {
  width: 100%;
  max-width: 39rem;
  padding: 1rem;
  border: 1px solid $color-gray-dark;
  border-radius: 0.4rem;
  font-size: $font-size-p;
  line-height: 2rem;
}

.selectContainer {
  margin-left: 3rem;
}
