.balloonTitle {
  display: block;
  text-align: center;
  white-space: nowrap;
  font-family: $font-pacifico;
  font-weight: normal;
  font-size: $font-size-balloon-small;
  color: $color-white;
  text-shadow: 0 2px 0 $color-violet;

  &:active,
  &:hover {
    color: $color-white;
  }

  .ballonvaart,
  .tickets {
    display: inline-block;
    transform: rotate(-5deg);
  }

  .tickets {
    position: relative;
    top: -0.75rem;
    left: -0.75rem;
  }

  &.large {
    font-size: $font-size-balloon-medium;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size-balloon-medium;

    &.large {
      font-size: $font-size-balloon-large;
    }
  }
}

.accountTitle {
  display: flex;
  align-items: center;
  color: $color-white;
  font-weight: $font-weight-bold;
  line-height: 1;

  img {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.5rem;
    position: relative;
    top: -1px;
  }
}

.h1 {
  font-size: $font-size-h1;
  line-height: 3.4rem;
  color: $color-white;
  text-shadow: 0 2px 0 $color-violet;
  text-align: center;
}

.h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h4;
  color: $color-purple;

  &.center {
    text-align: center;
  }
}

.h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-normal;
  line-height: $line-height-h4;
  color: $color-red;
  text-align: center;
}

.h4 {
  font-size: 1.6rem;
  font-weight: $font-weight-bold;
  color: $color-purple;
}
